@font-face {
    font-family: "Sci Fied Bitmap";
    src: url("https://www.mediafont.com/storage/contents/3246/scifibit.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;    
    color: #55b2d4; 
}  

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right__body__news {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__header {
    width: 178px;
    height: calc(17px + 8px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}

.news__header h4 {
    font-family: "Malgun Gothic";
}

.news__header span {
    padding-top: 5px;
    font-family: "Sci Fied Bitmap";
    color: black;
    font-size: 8px;
    font-weight: 600;
    line-height: 14px;
}

.body__news__line {
    width: 100%;
    border-top: 1px gray solid;
}

.right__body__news > span {
    font-family: "Malgun Gothic";
    color: #999999;
    font-size: 11px;
}

.right__body__video {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body__video__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.body__video__header > span {
    font-family: "Sci Fied Bitmap";
    color: black;
    font-size: 8px;
    font-weight: 600;
    line-height: 8px;
    margin: 0px 0px 4px 5px;
}

.body__video__box {
    width: 100%;
    height: 87%;
    background-color: #C4C4C4;
}